div {
    vertical-align: middle;
    animation-name: Button-Shift;
}

button {
    padding: 32px 32px;
    height: 60%;
    width: 60%;
    animation-name: Button-Shift;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color: rgb(127, 127, 127);
    border-width: 0px;
}

button:hover {
    padding: 48px 48px;
    vertical-align: middle;
}

h1, p {
    text-align: center;
    animation-name: Text-Shift;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

body {
    animation-name: Background-Shift;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

div {
    width: 100%;
}

#buttonA {
    text-align: center;
    animation-name: Button-Shift;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes Background-Shift {
    0% {
        background-color: black;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}

@keyframes Text-Shift {
    0% {
        color: white;
    }
    50% {
        color: black;
    }
    100% {
        color: white;
    }
}

@keyframes Button-Shift {
    0% {
        background-color: white;
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
}

